<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/MainlyLayout'">


<section layout:fragment="content">
    <div class="container-fluid">
        <br/>
        <form class="form-horizontal" method="POST" th:action="@{/aeropuerto/create}" th:object="${aeropuerto}">

            <div style="margin-top: 50px;">

                <div th:fragment="mensagemGeral" class="alert alert-success" th:if="${!#strings.isEmpty(message)}">
                    <span th:text="${message}"></span>
                </div>

                <div th:fragment="mensagemErro" class="alert alert-danger" th:if="${!#strings.isEmpty(messageErro)}">
                    <span th:text="${messageErro}"></span>
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                        <span th:text="${detailedError.message}"></span>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="clearfix">

                            <div class="clearfix">
                                <h2 style="float: left;" th:text="${title}"></h2>
                                <a style="float: right;" class="btn btn-link aw-link-panel" href="/aeropuerto/list">Aeropuerto
                                    List</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group" th:classappend="${#fields.hasErrors('ciudad')} ? has-error">
                            <label for="ciudad" class="col-sm-2 col-xs-12  control-label">Ciudad
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input class="form-control" list="ciudades" th:field="*{ciudad}">
                                 <datalist id="ciudades">
                                     <option value="">Select</option>
                                     <option th:each="gclass : ${ciudadList}" th:value="${gclass.id}"
                                             th:text="${gclass.nombre}"></option>
                                 </datalist>



                            </div>
                        </div>


                        <div class="form-group" th:classappend="${#fields.hasErrors('nombre')} ? has-error">
                            <label for="nombre" class="col-sm-2 col-xs-12  control-label">Nombre
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input type="text" class="form-control" th:field="*{nombre}" id="nombre"/>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('telefono')} ? has-error">
                            <label for="telefono" class="col-sm-2 col-xs-12  control-label">Teléfono
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input type="text" class="form-control" th:field="*{telefono}" id="telefono"/>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('Responsable')} ? has-error">
                            <label for="Responsable" class="col-sm-2 col-xs-12  control-label">Responsable
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input type="text" class="form-control" th:field="*{Responsable}" id="Responsable"/>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('numeroBahias')} ? has-error">
                            <label for="numeroBahias" class="col-sm-2 col-xs-12  control-label">Cantidad Bahias
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input type="text" class="form-control" th:field="*{numeroBahias}" id="numeroBahias"/>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('numeroHangares')} ? has-error">
                            <label for="numeroHangares" class="col-sm-2 col-xs-12  control-label">Cantidad Hangares
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input type="text" class="form-control" th:field="*{numeroHangares}"
                                       id="numeroHangares"/>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('estado')} ? has-error">
                            <label for="estado" class="col-sm-2 col-xs-12  control-label">Estado
                            </label>
                            <div class="col-sm-4 col-xs-12 ">
                                <input type="checkbox" th:field="*{estado}" id="estado"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" th:text="${btn}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

</section>
</body>

</html>
