<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/MainlyLayout'">

<head>
    <title>Usuario</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


</head>

<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div style="margin-top: 60px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="clearfix">
                        <h2 style="float: left;">Usuario List</h2>
                        <a style="float: right;" class="btn btn-link aw-link-panel"
                           href="/usuario/create">Usuario Create</a>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="GET" action="/usuario/list"
                          th:object="${usuarioFilter}">

                        <div th:fragment="mensagemGeral" class="alert alert-success"
                             th:if="${!#strings.isEmpty(message)}">
                            <span th:text="${message}"></span>
                        </div>

                        <div th:fragment="mensagemErro" class="alert alert-danger"
                             th:if="${!#strings.isEmpty(messageErro)}">
                            <span th:text="${messageErro}"></span>
                        </div>

                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>


                        <div class="container">
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('username')} ? has-error">


                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('rol')} ? has-error">
                                    <label for="rol" class="col-sm-2 col-xs-12  control-label">Rol
                                    </label>
                                    <div class="col-sm-4 col-xs-12 ">
                                        <select class="form-control" th:field="*{rol}">
                                            <option value="">Select</option>
                                            <option th:each="gclass : ${rolList}"
                                                    th:value="${gclass.id}" th:text="${gclass.nombre}"></option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <br>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn  btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <div class="table-responsive" th:if="${pagina != null}">
                        <table class="table table-bordered table-striped "
                               style="margin-top: 60px;">
                            <thead>
                            <tr>
                                <td>id</td>
                                <td>Usuario</td>
                                <td>Rol</td>
                                <td>Estado</td>
                                <td>#</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="obj : ${pagina.conteudo}">
                                <td th:text="${obj.id}"></td>
                                <td th:text="${obj.username}"></td>
                                <td th:text="${obj.rol.nombre}"></td>
                                <td th:text="${obj.estado==1}? 'ACTIVO': 'INHABILITADO'"></td>
                                <td class="text-center">


                                    <input type="hidden" name="_method" value="DELETE"/> <a
                                        class="btn btn-link btn-xs"
                                        th:href="@{/usuario/{code}(code=${obj.id})}" title="Editar"
                                        rel="tooltip" data-placement="top"> <span
                                        class="glyphicon glyphicon-pencil"></span>
                                </a>


                                    <button  type="button"
                                            th:attr="data-id=${obj.getId()}"
                                            class="btn btn-danger btn-sm">
                                        <i class="fa fa-user-times" aria-hidden="true"></i>

                                    </button>


                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" th:if="${#lists.isEmpty(pagina.conteudo)}">No
                                    records found
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="col-sm-12  text-center"
                             th:if="${not #lists.isEmpty(pagina.conteudo)}">
                            <nav>
                                <ul class="center pagination" th:if="${not pagina.vazia}"
                                    th:with="paginaAtual=${pagina.atual}">
                                    <li th:if="${not pagina.primeira}"
                                        th:class="${pagina.primeira} ? disabled"><a
                                            th:href="${pagina.urlParaPagina(paginaAtual - 1)}"
                                            th:remove="${pagina.primeira} ? tag"> <i> <</i>
                                    </a></li>

                                    <li th:if="${(paginaAtual - 2) > 0}"><a
                                            th:href="${pagina.urlParaPagina(0)}">1 <span>...</span>
                                    </a></li>

                                    <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}"
                                              th:with="numeroPagina = ${p - 1} ">
                                        <li
                                                th:if="${(p + 1 >= paginaAtual and p - 1 <= paginaAtual + 2)}"
                                                th:class="${paginaAtual == numeroPagina} ? 'active deep-purple darken-4' : 'waves-effect' ">
                                            <a th:href="${pagina.urlParaPagina(numeroPagina)}"
                                               th:text="${p}">1</a>
                                        </li>
                                    </th:block>

                                    <li th:if="${(paginaAtual + 3) < pagina.total}"><a
                                            th:href="${pagina.urlParaPagina(pagina.total - 1)}"> ...
                                        <span th:text="${pagina.total}"></span>
                                    </a></li>

                                    <li th:class="${pagina.ultima} ? disabled"><a
                                            th:if="${not pagina.ultima}"
                                            th:href="${pagina.urlParaPagina(paginaAtual + 1)}"
                                            th:remove="${pagina.ultima} ? tag"> <i>></i>
                                    </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
<th:block layout:fragment="javascript-extra">
    <script>
        $(document).ready(function () {
            $(".btn-danger").on("click", function () {
                let id= $(this).data("id");

                Swal.fire({
                    title: 'Confirmación',
                    text: "¿Desea inhabilitar este usuario?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, inhabilitar!'
                }).then((result) => {
                    if (result.value) {
                        let url = "/usuario/desabled/"+id+"/"+0;
                        axios.get(url).then(function (response) {
                            Swal.fire(
                                'Estado!',
                                'Se ha deshabilitado.',
                                'success'
                            )
                            window.location.reload();
                        }).catch(function (error) {
                            console.log(error);

                        })

                    }
                })
            });

        })
    </script>

</th:block>
</body>

</html>
