<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="'layout/MainlyLayout'">
<head>
	<title>Home</title>
</head>
<body>
<section layout:fragment="content">
	<h1> Bienvenido/a <span th:if="${session.usuario != null}" class="text-light" th:text="${session.usuario.username}"> </h1>
	<img th:src="@{/layout/images/logo-gif.gif}" width="80" height="80" class="d-inline-block align-top"
		 alt="">
</section>
	
	<th:block layout:fragment="javascript-extra">



	</th:block>
</body>

</html>
