<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="'layout/MainlyLayout'">
<head>
	<title>Home</title>
</head>
<body>
<section layout:fragment="content" style="min-height: auto; !important;">
	<h1> Bienvenido/a <span th:if="${session.usuario != null}" class="text-light" th:text="${session.usuario.username}"> </h1>
	<img th:src="@{/layout/images/logo-gif.gif}" width="500" height="500" style="display: block;  margin-left: auto;  margin-right: auto;  width: 50%;">
</section>
	
	<th:block layout:fragment="javascript-extra">



	</th:block>
</body>

</html>
