<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/MainlyLayout'">

<head>
<title>Oferta</title>

</head>

<body>

	<section layout:fragment="content">
		<div class="container-fluid">
			<div style="margin-top: 60px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="clearfix">
							<h2 style="float: left;">Oferta de vuelo</h2>
							<a style="float: right;" class="btn btn-link aw-link-panel"
								href="/aerolinea/create">Aerolinea Create</a>
						</div>
					</div>
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table table-bordered table-striped "
								style="margin-top: 60px;">
								<thead>
									<tr>
										<td>Aerolinea</td>
										<td>Escala</td>
										<td>Origen</td>
										<td>Destino</td>
										<td>Hora de aterrizaje</td>
										<td>Duración</td>
										<td>Hora de despegue</td>
										<td>Clase</td>
										<td>Precio</td>
										<td>Disponible</td>
										<td>#</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj : ${oferta}">
				                        <td th:text="${obj.idVuelo}"></td>
										<td th:text="${obj.vuelo}"></td>
										<td th:text="${obj.origen}"></td>
										<td th:text="${obj.destino}"></td>		
										<td th:text="${obj.hora_aterrizaje}"></td>
										<td th:text="${obj.duracion}"></td>
										<td th:text="${obj.hora_despegue}"></td>
										<td th:text="${obj.clase}"></td>
										<td th:text="${obj.precio}"></td>
										<td th:text="${obj.disponible}"></td>
										<td class="text-center">

											<form method="POST"
												th:action="@{/view_oferta_vuelo/delete/{code}(code=${obj.id})}">
												<input type="hidden" name="_method" value="DELETE" /> <a
													class="btn btn-link btn-xs"
													th:href="@{/view_oferta_vuelo/{code}(code=${obj.id})}"
													title="Editar" rel="tooltip" data-placement="top"> <span
													class="glyphicon glyphicon-pencil"></span>
												</a>


												<button class="btn btn-link btn-xs" title="Delete"
													type="submit" data-placement="top">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</form>
										</td>


									</tr>
									<tr>
										<td colspan="12" th:if="${#lists.isEmpty(pagina.conteudo)}">No
											records found</td>
									</tr>
								</tbody>
							</table>
							<div class="col-sm-12  text-center"
								th:if="${not #lists.isEmpty(pagina.conteudo)}">
								<nav>
									<ul class="center pagination" th:if="${not pagina.vazia}"
										th:with="paginaAtual=${pagina.atual}">
										<li th:if="${not pagina.primeira}"
											th:class="${pagina.primeira} ? disabled"><a
											th:href="${pagina.urlParaPagina(paginaAtual - 1)}"
											th:remove="${pagina.primeira} ? tag"> <i> <</i>
										</a></li>

										<li th:if="${(paginaAtual - 2) > 0}"><a
											th:href="${pagina.urlParaPagina(0)}">1 <span>...</span>
										</a></li>

										<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}"
											th:with="numeroPagina = ${p - 1} ">
											<li
												th:if="${(p + 1 >= paginaAtual and p - 1 <= paginaAtual + 2)}"
												th:class="${paginaAtual == numeroPagina} ? 'active deep-purple darken-4' : 'waves-effect' ">
												<a th:href="${pagina.urlParaPagina(numeroPagina)}"
												th:text="${p}">1</a>
											</li>
										</th:block>

										<li th:if="${(paginaAtual + 3) < pagina.total}"><a
											th:href="${pagina.urlParaPagina(pagina.total - 1)}"> ...
												<span th:text="${pagina.total}"></span>
										</a></li>

										<li th:class="${pagina.ultima} ? disabled"><a
											th:if="${not pagina.ultima}"
											th:href="${pagina.urlParaPagina(paginaAtual + 1)}"
											th:remove="${pagina.ultima} ? tag"> <i>></i>
										</a></li>
									</ul>
								</nav>
							</div>

						</div>
					</div>



				</div>





			</div>
		</div>

	</section>
	<th:block layout:fragment="javascript-extra">



	</th:block>
</body>

</html>
