<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div class="col-md-3 left_col" th:fragment="SideMenu">
	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="/index" class="site_title"><i class="fa fa-plane"></i>
					<span>Jetset</span></a>
			</div>
			<div class="clearfix"></div>

			<!-- menu profile quick info -->
			<div class="profile">
				<div class="profile_pic">
					<img th:src="@{/layout/images/img.png}" alt="..."
						 class="img-circle profile_img"/>
				</div>
				<div class="profile_info">
					<span>Bienvenid@</span>

				</div>
			</div>
			<!-- /menu profile quick info -->

			<br/>
			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<h3>General</h3>
					<ul class="nav side-menu">
						<li sec:authorize="hasAnyAuthority('Administrador')" ><a><i class="fa fa-users"></i> Seguridad <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/rol/list">Roles</a></li>
								<li><a href="/usuario/list">Usuarios</a></li>
							</ul>
						</li>
						<li sec:authorize="hasAnyAuthority('AdminAeropuerto', 'Administrador')"><a><i class="fa fa-map-marker"></i> Paises <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/pais/list">Paises</a></li>
								<li><a href="/ciudad/list">Ciudades</a></li>
							</ul>
						</li>

						<li sec:authorize="hasAnyAuthority('AdminAeropuerto', 'Administrador')"><a><i class="fa fa-plane"></i>Aviones<span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/avion/list">Aviones</a></li>
								<li><a href="/marca/list">Marca</a></li>
								<li><a href="/modelo/list">Modelo</a></li>
							</ul>
						</li>
						<li sec:authorize="hasAnyAuthority('AdminAerolinea', 'Administrador')"><a><i class="fa fa-suitcase"></i> Aerolinea <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/aerolinea/list">Aerolineas</a></li>
							</ul>
						</li>

						<li sec:authorize="hasAnyAuthority('AdminAeropuerto', 'Administrador')"><a><i class="fa fa-globe"></i> Aeropuerto <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/aeropuerto/list">Aeropuertos</a></li>
								<li><a href="/hangar/list">Hangares</a></li>
							</ul>
						</li>

						<li sec:authorize="hasAnyAuthority('AdminVuelo', 'Administrador')"><a><i class="fa fa-globe"></i> Vuelos <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/destino/list">Destinos</a></li>
								<li><a href="/vuelo/list">Vuelos</a></li>
								<li><a href="/capacidad/list">Capacidad</a></li>
								<li><a href="/clase/list">Clases</a></li>
								<li><a href="/precio/list">Precios</a></li>
							</ul>
						</li>

						<li sec:authorize="hasAnyAuthority('Administrador')"><a><i class="fa fa-map"></i> Reservas <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/estatusReserva/list">Estatus reserva</a></li>
								<li><a href="/reserva/list/pasajero">Reservas</a></li>
							</ul>
						</li>

						<li sec:authorize="hasAnyAuthority('Pasajero', 'Administrador')"><a><i class="fa fa-map-marker"></i> Intinerario <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/oferta/vuelo/list">Itinerario</a></li>
							</ul>
						</li>
						<li sec:authorize="hasAnyAuthority('Pasajero')"><a><i class="fa fa-map-marker"></i> Mis Rservas <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/reserva/list">Mis Reservas</a></li>
							</ul>
						</li>





					</ul>
				</div>
			</div>
			<!-- /menu footer buttons -->
			<div class="sidebar-footer hidden-small">
				<a data-toggle="tooltip" data-placement="top" title="Settings">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
					class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a> <a data-toggle="tooltip" data-placement="top" title="Logout">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
			</div>
			<!-- /menu footer buttons -->
		</div>
	</div>
</div>
</body>
</html>